html {
    background-color: #2330b8
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    padding: 10rem
}

.row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    word-wrap: normal;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.info {
    border: .4rem solid white;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    color: white;
    background: #4958c6;
    text-shadow: 0 0 .5rem black;
}

.item {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 700px
}

label {
    font-style: italic;
    font-size: 1.2rem;
    color: white;
}

.listItem {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: 1.2rem;
    cursor: pointer;
}

.recentlyPlayedInfo {
    margin: 1rem;
    text-align: left;
}

#nowplayingInfo {
    cursor: pointer;
}