.logo-container {
  height: 5rem;
  padding-left: 3.5rem;
}

.logo-container svg {
  height: 6rem;
  width: 12rem;
}

@media (max-width: 800px) {
  .logo-container {
    display: none;
  }
}

@media (max-width: 400px) {
  .logo-container {
    display: block;
    position: absolute;
    top: 2rem;
    padding-left: 3rem;
  }

  .logo-container svg {
    height: 4rem;
    width: 10rem;
  }
}
