.now-playing {
  height: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade-in 1s ease forwards;
}

.now-playing-container label {
  font-size: 1.4rem;
  color: var(--theme-text-color);
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: "ProximaNova-Semibold", sans-serif;
}

.now-playing-info {
  cursor: pointer;
}

.now-playing-info > * {
  margin-bottom: 1rem;
}

.now-playing-container {
  width: 45rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.now-playing-title {
  font-size: 4.2rem;
  color: #fff;
  font-weight: bold;
}

.now-playing-artist {
  font-size: 2rem;
  color: #fff;
}

.now-playing-img {
  height: 50rem;
  width: 50rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.61);
  overflow: hidden;
  border-radius: 4px;
  animation: fade-in 1s ease forwards;
  cursor: pointer;
}

.now-playing-img img {
  height: 100%;
  width: 100%;
}

@media (max-width: 800px) {
  .now-playing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: fade-in 1s ease forwards;
    margin-top: 10vh;
  }
  .now-playing-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    height: auto;
    width: auto;
  }
  .now-playing-img img {
    height: 300px;
    width: 300px;
  }
  .now-playing-img {
    height: auto;
    width:auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.61);
    border-radius: 4px;
    animation: fade-in 1s ease forwards;
    cursor: pointer;
  }
}