.recently-played {
  height: 25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.recently-played label {
  animation: fade-in 1s ease forwards;
  animation-delay: 0.3s;
  color: #ccc;
  font-size: 1.4rem;
  letter-spacing: 3px;
  font-family: "ProximaNova-Bold";
  text-transform: uppercase;
  margin-left: 2rem;
  opacity: 0;
}

.recently-played-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  justify-content: space-between;
  grid-column-gap: 1.5rem;
}

.single-song-container {
  height: 8rem;
  background-color: var(--theme-single-background-color);
  box-shadow: var(--theme-single-shadow);
  opacity: 0;
  animation: fade-in 1s ease forwards;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
  margin-bottom: 1.5rem;
}

.single-song-container:nth-of-type(1) {
  animation-delay: 300ms;
}
.single-song-container:nth-of-type(2) {
  animation-delay: 600ms;
}
.single-song-container:nth-of-type(3) {
  animation-delay: 900ms;
}
.single-song-container:nth-of-type(4) {
  animation-delay: 1200ms;
}
.single-song-container:nth-of-type(5) {
  animation-delay: 1500ms;
}
.single-song-container:nth-of-type(6) {
  animation-delay: 1800ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.single-song-container:hover {
  background-color: var(--theme-single-hover-background-color);
  transform: translate(2px, 2px);
}

.single-song-image {
  height: 6rem;
  width: 6.2rem;
  border-radius: 4px;
}

.single-song-content {
  width: 100%;
  height: 6.2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.single-song-title {
  font-size: 1.6rem;
  font-family: "ProximaNova-Bold";
}

.single-song-artist {
  font-size: 1.4rem;
  font-family: "ProximaNova-Regular";
}

@media (max-width: 800px) {
  .recently-played {
    height: 100%;
    justify-content: space-between;
  }

  .recently-played-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .recently-played label {
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 1vh;
  }
}

@media (max-width: 400px) {
  .recently-played-container {
    height: 35rem;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
